a, a:visited, a:active {
	color: #000000;
	text-decoration: none;
	border-bottom: 2px black dotted;
}

a:hover {
	color: #000000;
	text-decoration: none;
	border-bottom: 2px white;
}

.jumbo h1 {
font-size: 32px;
font-family: 'Alegreya', serif;
}

.jumbo h2 {
font-size: 20px;
font-family: 'Alegreya', serif;
}

.jumbo {
margin-top: 15px;
font-size: 16px;
font-family: 'Alegreya', serif;
}

.nav {
float: left;
margin: 5px;
}

.column {
padding: 5px;
margin: 15px;
}

.button {
	display: block;
	padding: 8px;
	margin: 3px;
	outline: thin;
	background-color: transparent;
	color: #A9A9A9;
	box-sizing: border-box;
	border: 2px solid #000000;
	float: left;
	border-radius:5%;
	text-align: center;
}

.book-sidebar {
	margin-top: 50px;
	margin-left: 180px;
	height: 200px;
}
